<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
      
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body border: 1px solid #DDD;>
  <div class="container-fluid height:100% pull-right col-lg-2 stopka text-center">
    <div id="user-widget">
      <% if current_user %>
        Welcome <strong><%= current_user.name %></strong>!
        <br>
        <%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-info" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in",  class: "btn btn-info" %>
      <% end %>
      <p class:"h-center">
        <%= link_to 'Wróć do Strony głównej', articles_path, class: "btn btn-success" %>
        <% if current_user && current_user.su %>
          <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
        <% end %>

        <%= form_tag articles_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          </p>
        <% end %>
      </p>
    </div>
  </div>
  <%= yield %>
</body>
</html>
