

  <% @articles.each do |article| %>

    <div class="col-lg-8 align-center" style="background:#EEEECC">
      <h2 class="text-center">
        <%= article.title %>
      </h2>
      <small class="pull-right">by
        <% if article.user_id %>
          <cite>
            <%=  link_to article.user.name, articles_path(name_id: article.user_id) %>.
          </cite>
        <% end %>
        Submitted on <%= article.display_date %> 
      </small>
      <br>
      <h3>
        <%= article.content %>
      </h3>
      <h5>
        comments: 
        <%= article.comment_number %> 
        <%= link_to 'Show Comments', article, class: "tn btn-primary btn-xs" %>
        <% if current_user && current_user.su %>
          <%= link_to 'Edit', edit_article_path(article), class: "tn btn-warning btn-xs" %>
          <%= link_to 'Delete', article, method: :delete, data: {confirm: 'Are you sure?'}, class: "tn btn-danger btn-xs" %> 
          <%= like_button(782258585130216, href: article)  %>
        <% end %>
        <br>
      </h5>
      <% if article.tags != []%>
        <p>
          tags: <% article.tags.each do |tag| %>
            <%= link_to tag.name, articles_path(tag_id: tag.id), class: "btn btn-default btn-xs"%> ,
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="col-lg-2"></div>
    <div class="separator col-lg-8" style="background:#FFFFFF">
    <br> 
    </div>
  <% end %>
  <div class="col-lg-8 text-center" style="background:#EEFFDD">
  <%= will_paginate @city %>
  </div>
<br>