<p id="notice"><%= notice %></p>

<div class="col-lg-8 text-center" style="background:#CCFFCC">
  <h1>
    <strong class="text-center">  <%= @article.title %></strong>
  </h1> 
  <small class="pull-right">by <%=  %> submitted on <%= @article.display_date %> </small>
  <p>
    <%= @article.content %>
  </p>
</div>
    <% if current_user %>
      <div class="separator col-lg-8" style="background:#FFFFFF">
        <%= link_to 'Add a Comment', new_article_comment_path(@article), class: "btn btn-success"%>
      </div>
    <% end %>
  <div class="separator col-lg-8" style="background:#FFFFFF">
    <br>
  </div>
  <% @article.comments.each do |comment| %>
    <div class="col-lg-8 align-center" style="background:#DDFFDD">
      <h2 class="text-center"> <%= comment.title %></h2>        
      <h3> <%= comment.content %> </h3>
      <small class="pull-right">by 
        <%if comment.user_id %> 
         <%= comment.user.name %>. 
        <% else %> 
          anonim.
        <% end %> 
        Submitted on <%= comment.display_date %> 
      </small>
      <% if current_user && current_user.su %>
        <%= link_to 'Edit', edit_article_comment_path(@article.id, comment.id), class: "btn btn-warning" %>
        <%= link_to 'Delete', article_comment_path(@article.id, comment.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </div>
    <div class="separator col-lg-8" style="background:#FFFFFF">
      <br>
    </div>
  <% end %>
